<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="bg-[url('/img/landing.png')] bg-cover">
    <header id="landing-header" class="fixed flex justify-center w-full items-center text-white mt-5 ">
        <nav>
            <ul class="flex text-sm [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
                <li><a href="/home">Home</a></li>
                <li><a href="#">Log in</a></li>
                <li><a href="/register">Sign up</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Games</a></li>
            </ul>
        </nav>
    </header>

    <section id="register" class="w-full h-screen flex justify-center items-center">
        <div id="register-form">
            <h2>Sign up</h2>
            <div class="input-box">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="input-box">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="input-box">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="input-box">
                <label for="confirmation">Confirm password</label>
                <input type="password" name="confirmation" id="confirmation">
            </div>

            <button id="register-btn">Register Now</button>
            <p>Already have an account? <span><a href="/login">Login now</a></span></p>

        </div>
    </section>
    <script type="module" src="/app.js"></script>
</body>

</html>